*{
    margin: 0;
    padding: 0;
}

.fu{

/* position: relative; */
/* width: 100%;
height: 100%; */
/* overflow:hidden */
}

.son{
/* position: absolute; */
width: 200px;
height: 100px;
background-color: bisque;
margin: 4px 2px;
float: left;

}
.fu::after{
    content: '';
    display: block;
    clear: both;
}
.other{
    color:#f40;
    background: lightcoral;
}